/* Reset and base styles */
html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}

body {
    margin: 0;
    background: #DFD2B3;
    font-family: Poppins, sans-serif;
    line-height: 1.5;
}

/* Header styles */
header {
    z-index: 100 !important;
}

/* Horizontal rule styles */
hr {
    margin: 20px 0;
}

a {
    text-decoration: none;
  }
/* Navigation button styles */
.navButton {
    width: 88%;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: inherit;
    padding: 8px 16px;
    text-align: left;
    white-space: normal;
    float: none;
    outline: 0;
}

.navButton:hover {
    color: rgb(245, 241, 18);
    background-color: rgb(87, 85, 31);
    border: 1px solid rgb(245, 241, 18);
}

/* Navigation menu styles */
.navMenu {
    width: 100%;
    min-width: 100%;
}

/* Hamburger icon styles */
.hamburguer {
    font-size: 30px;
    color: rgb(211, 208, 38);
    margin-right: 10px;
    top: 0;
}

/* Responsive title styles */
.responsiveTitle {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    color: rgb(211, 208, 38);
    font-size: 26px;
    background-color: rgb(32, 32, 9);
}

/* Overlay styles */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.832);
    z-index: 2;
}

/* Responsive title bar styles */
.responsiveTitlebar {
    border-top: 6px solid #ccc;
}

/* Active navigation link styles */
.active {
    color: rgb(245, 241, 18);
    background-color: rgb(87, 85, 31);
    border: 1px solid rgb(245, 241, 18);
}

/* Title styles */
.titulo {
    color: rgb(82, 79, 3);
}

.titulo2 {
    color: #959436;
}

.titulo2:hover {
    color: rgb(102, 100, 14);
}

/* Image container styles */
.container1 img {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 100px;
}

.image_full {
    display: block;
}

.image_mobile {
    display: none;
}

/* Responsive styles for image display */
@media (max-width: 740px) and (min-width: 320px) {
    .image_full {
        display: none;
    }
  
    .image_mobile {
        display: block;
    }
}

/* Small logo styles */
.small-logo img {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 45px;
    display: block;
}

/* Footer styles */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #b1a588;
    text-align: center;
    padding-top: 50px;
    border-top: 1px solid #69604b;
    color: #4b4332;
}

.footer a:link {
    /* Styles for unvisited links */
    color: #332913;
}

.footer a:visited {
    /* Styles for visited links */
    color: #332913;
}

/* Container styles */
.container1 {
    padding: 16px;
}

/* Main container styles */
.mainContainer {
    margin-left: 340px;
    margin-right: 40px;
}

/* Paragraph styles */
.paragraph1 {
    color: rgb(17, 17, 16);
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

/* Sidebar styles */
#mySidebar {
    z-index: 3;
    width: 300px;
    font-weight: bold;
    top: 0;
    color: rgb(211, 208, 38);
    background-color: rgb(32, 32, 9);
    border-right: 1px solid rgb(245, 241, 18);
    height: 100%;
    position: fixed;
    overflow: auto;
}

/* Responsive layout styles */
@media (min-width: 993px) {
    .hideLarge {
        display: none;
    }
    
    .hideSmall {
        display: block !important;
    }
}

@media (max-width: 992px) {
    .hideSmall {
        display: none;
    }
    
    .mainContainer {
        margin-left: 40px;
    }

    .titulocontacto {
        margin-top: 140px;
    }

    .tituloformato {
        margin-top: 140px;
    }
}

.logo-group {
    display: flex;
    justify-content: space-between; /* Distribute items evenly along the main axis */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
	background-color: #33291300;
	border-color: #33291300;
}

.logo-group img {
	padding: 16px;
    width: auto;
    height: auto; /* Maintain aspect ratio */
    margin: 0 15px;
    max-width: 150px;    max-height: 120px;
}

.logos-box {
    margin-bottom: 150px;
}

#form-main{
	width:100%;
	padding-top:0px;
    padding-bottom: 500px;
    margin-bottom: 450px;
}

#form-div {
	background-color:rgba(185, 186, 116, 0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
    margin-top:30px;
	margin-left: -260px;
    border-radius: 7px;
  
}

.montform .feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}
/*Inputs styles*/
.montform .feedback-input:focus{
	background: #fff;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}


/* Icons ---------------------------------- */
.montform  #name{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #name:focus{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
    background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #email{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #email:focus{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
	background-size: 30px 30px;
    background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #comment{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

.contact-button{
	float:left;
	width: 100%;
	cursor:pointer;
	background-color: rgb(87, 85, 31);
	color:rgb(245, 241, 18);
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	transition: all 0.3s;
    font-weight:400;
}

.contact-button:hover{
	background-color: rgb(245, 241, 18);
	color: rgb(87, 85, 31);
}
	
.montform  .submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

/*Styles for small screens*/

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

.ImprimirButton {
    padding: 5px;
    color: #3c3c3c;
    border-radius: 5px;
    border-style: solid;
    background-color: #ebe1cb;
    border-color: rgb(245, 241, 18);
}

--------------------

form {
    display: flex;
    max-width: 1000px; /* Tamaño máximo del formulario */
  }

  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .table-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  table {
    border-collapse: collapse;
    width: 48%; /* Ajustar el ancho para que quepan dos tablas en una página A4 */
  }

  table, th, td {
    border: 1px solid black;
    margin: 0;
    padding: 0;
  }

  textarea {
    width: 100%;
    height: 100px;
  }

